
.movie-card{
    /* background: hsl(0, 100%, 50%); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white

}

.movie-card h2,p{
    text-align: center;

}
.movie-card img{
    width: 50vw;
    height: 50vh;

}
