
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  width: max-content;
  width: 90%;
  
  
}
.welcome-card {
  display: flex;
  align-items: center;
  color: hsl(0, 0%, 100%);
  font-size: 0.8rem;
  border-radius: 1000px;
  padding: 10px;
  justify-content: space-around;
  width: max-content;

}
.welcome-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
}
.welcome-card-info {
  display: flex;
  flex-direction: column;
}

.welcome-card-name {
  font-size: 14px;
  opacity: 0.6;
}
.welcome-card-username {
  opacity: 0.6;
  font-size: 16px;
}
.welcome-card-image {
  height: 48px;
  width: 48px;
  border-radius: 1000px;
}

aside button {
  height: 5vh;
  width: 5vw;
  color: red
}