
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  width: 100vw;
  justify-content: space-between;
  
}

.slick-track{
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-card {
  display: flex;
  align-items: center;
  color: hsl(0, 0%, 100%);
  font-size: 0.8rem;
  padding: 10px;
  justify-content: space-between;
  gap: 6vw;


}
.button-dong{
  border:none;
  background: none;
}

.welcome-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 9vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
}
.welcome-card-info {
  display: flex;
  flex-direction: column;
}

.welcome-card-name {
  font-size: 14px;
  opacity: 0.6;
}
.welcome-card-username {
  opacity: 0.6;
  font-size: 16px;
}
.welcome-card-image {
  height: 48px;
  width: 48px;
  border-radius: 1000px;
}
